# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/downloads

# dependencies
**/node_modules
/.pnp
.pnp.js


# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

api_keys.txt
*push_note.txt

package-lock.json
yt-dlp.exe